.container {
    background-color: #161616;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background: url('/images/back.svg') no-repeat;
}

.title {
    color: var(--white);
    text-transform: uppercase;
    font-size: 34pt;
    position: relative;
    margin-bottom: 65px;
}
.title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--sub);
}

.cards {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
    margin-bottom: 30px;
}
.card {
    background-color: var(--white);
    border-radius: 15px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    text-wrap: balance;
}
.card h3 {
    font-size: 18pt;
    margin-bottom: 15px;
    text-align: center;
}
.card p {
    font-size: 12pt;
}

.card ul {
    margin: 12px;
    padding-left: 16px;
}
.card ul li span {
    font-weight: bold;
}

@media (width <= 1400px) {
    .cards {
        width: 100%;
        gap: 40px;
    }
}

@media (width <= 1150px) {
    .cards {
        width: 100%;
        gap: 40px;
    }
    .card { 
        font-size: 10pt;
    }
    .card h3 {
        font-size: 15pt;
    }
    .card p {
        font-size: 10pt;
    }
}
@media (width <= 1000px) {
    .cards {
        display: flex;
        flex-direction: column;
        gap: 55px;
        width: 95%;
    }
    .card { 
        font-size: 12pt;
    }
    .card h3 {
        font-size: 20pt;
    }
    .card p {
        font-size: 12pt;
    }
}
@media (width <= 800px) {
    .card ul{ 
        font-size: 8pt;
    }
    .card h3 {
        font-size: 20pt;
    }
    .card p {
        font-size: 8pt;
    }
}
@media (width <= 700px) {
    .card ul{ 
        font-size: 12pt;
    }
    .card h3 {
        font-size: 20pt;
    }
    .card p {
        font-size: 12pt;
    }
    .card ul {
        padding-left: 5px;
    }
}
@media (width <= 470px) {
    .card {
        padding: 20px 18px;
    }
    .container {
        padding: 4%;
    }
    .title {
        font-size: 22pt;
    }
}
