.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    color: white;
    text-align: center;
    max-width: 50%;
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.content p {
    max-width: 800px;
    text-align: center;
}
.title {
    width: 700px;
}

.clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .clip {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9) {
    .clip {
        width: auto;
        height: 100%;
    }
}

@media (width <= 900px) {
    .title {
        font-size: 18pt;
    }
    .content p {
        font-size: 11pt;
    }
}
@media (width <= 750px) {
    .title {
        font-size: 18pt;
        width: 400px;
    }
    .content p {
        width: 160%;
    }
}
@media (width <= 450px) {
    .title {
        font-size: 16pt;
        width: 180%;
    }
    .content p {
        font-size: 9pt;
        width: 140%;
    }
}
