.container {
    background-color: rgb(18, 18, 18);
    color: rgb(173, 173, 173);
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.container hr {
    width: 700px;
    height: 1px;
    background-color: rgb(173, 173, 173);
    border: none;
}

.menu {
    display: flex;
    gap: 15px;
    font-size: 13pt;
    margin-bottom: 15px;
}
.menu_btn {
    cursor: pointer;
}
.menu_btn:hover {
    color: rgb(226, 226, 226);
}

.logo_container {
    display: flex;
    gap: 15px;
}
.logo_container hr {
    width: 1px;
    height: 100%;
    border: none;
    background-color: rgb(173, 173, 173);
}
.logo_container p {
    width: 70%;
}
.subtitle {
    margin-left: 3px;
}

.contacts {
    display: flex;
    gap: 15px
}
.contacts p a {
    color: rgb(209, 209, 209);
    text-decoration: none;
}
.contacts p a:hover {
    text-decoration: underline;
}

@media (width <= 1000px) {
    .title {
        font-size: 16pt;
    }
    .logo_container {
        justify-content: center;
        align-items: center;
    }
    .logo_container hr {
        display: none;
    }
    .logo_container p {
        width: 50%;
    }
    .container hr {
        width: 600px;
    }
}

@media (width <= 750px) {
    .title {
        font-size: 15pt;
    }
    .logo_container hr {
        display: none;
    }
    .logo_container {
        gap: 12px;
        flex-direction: column;
    }
    .logo_container p {
        width: 80%;
        text-align: center;
    }
    .contacts {
        flex-direction: column;
        align-items: center;
    }
    .container hr {
        width: 90%;
    }
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .menu {
        font-size: 12pt;
    }
}
