@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;1,300&display=swap');

:root {
  --main: #64d021;
  --sub: #63c924;
  --grey: rgb(26, 26, 26);
  --white: rgb(247, 247, 247);

  --menu-btn: var(--main);
  --menu-back: transparent;
  --menu-color: var(--white);
  
  --main-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-family: var(--main-font);
}

@media (height <= 600px) {
  :root {
    --menu-back: var(--main);
  }
}