.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background: url('/images/back2.svg') no-repeat;
    color: var(--white);
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 40px;
    width: 90%;
}

.contacts iframe {
    width: 90%;
    height: 500px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.info div h2 {
    font-size: 20pt;
    margin-bottom: 5px;
}
.info div p {
    font-size: 14pt;
}
.info div hr {
    background-color: var(--main);
    width: 80%;
    height: 2px;
    border: none;
    margin: 10px 0px;
}
.info div p a {
    color: var(--white);
    text-decoration: none;
}

@media (width <= 800px) {
    .contacts {
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
    }
    .title {
        font-size: 16pt;
    }
    .info div h2{
        font-size: 14pt;
    }
    .info div p {
        font-size: 12pt;
    }
    .container {
        padding: 6%;
    }
    .container iframe {
        align-self: center;
        width: 100%;
    }
}